<div id="slide4">

    <div class="sous-titre-ajout-sejour m-t-10 m-b-30">
        <div class="fas fa-circle text-palette-violet m-r-30"></div>
        <div>
            <div class="ft-size-16 text-muted-2">Type d'inscriptions</div>
            <div class="ft-size-14 text-muted">Choisissez si l'inscription d'un enfant à l'accueil de loisirs peut se faire le matin, l'après-midi et/ou pour toute la journée (plusieurs choix possibles)</div>
        </div>
    </div>

    <div class="cards-types-inscriptions">

        <div id="card-type-inscriptions-matin" class="card-type-inscriptions">
            <div class="m-t-15 text-muted-2 ft-size-16 p-r-20 p-l-20 text-center">Uniquement le matin</div>

            <input id="input-type-inscriptions-matin" name="typeInscription" type="radio">
        </div>

        <div id="card-type-inscriptions-apres-midi" class="card-type-inscriptions">
            <div class="m-t-15 text-muted-2 ft-size-16 p-r-20 p-l-20 text-center">Uniquement l'après-midi</div>

            <input id="input-type-inscriptions-apres-midi" name="typeInscription" type="radio" >
        </div>

        <div id="card-type-inscriptions-journee" class="card-type-inscriptions">
            <div class="m-t-15 text-muted-2 ft-size-16 p-r-20 p-l-20 text-center">Toute la journée</div>

            <input id="input-type-inscriptions-journee" name="typeInscription" type="radio">
        </div>

    </div>

    <div id="erreur-type-inscriptions" class="text-palette-rouge font-weight-500" style="font-weight:bolder ;display: none;">
        Veuillez sélectionner le ou les types d'inscriptions de l'accueil de loisirs.
    </div>

    <div class="sous-titre-ajout-sejour m-t-10 m-b-30">
        <div class="fas fa-circle text-palette-violet m-r-30"></div>
        <div>
            <div class="ft-size-16 text-muted-2">Restrictions</div>
            <div class="ft-size-14 text-muted">Veuillez saisir les restrictions (conditions nécessaires à l'inscription). Cliquez sur <b>Ajouter une restriction</b> pour en ajouter une. Cliquez sur la croix d'une restriction pour la supprimer.</div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <button id="btn-slide-precedent-To3" type="button" class="btn btn-palette-vert btn-slide-precedent-Toslide3 to-right">
                Précedent
                <span class="far fa-arrow-right m-l-5"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button id="btn-slide-suivant-To5" type="button" class="btn btn-palette-vert btn-slide-suivant-Toslide5 to-right">
                Suivant
                <span class="far fa-arrow-right m-l-5"></span>
            </button>
        </div>
    </div>

</div>
