<div class="card rounded">
    <div class="card-body">
        <div id="titre-1" class="flex">
            <div class="row block-titre">
                <div class="numero-slide ">2</div>
                <div class="bloc-titre-slide">
                    <div class="titre-slide text-muted-2">Informations générales de l'accueil de loisirs</div>
                    <div class="ft-size-16 text-muted">Veuillez saisir les informations générales de l'accueil de
                        loisirs dans le formulaire ci-dessous
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form>
            <div id="card-bloc-bus">
                <div class="form-group">
                    <label class="control-label  required text-muted-2">Bus :</label>
                    <input type="checkbox" id="myCheckBus" onclick="displayBus()">
                    <div id="bloc-bus" style="display: none;">
                        <div class="sous-titre-ajout-sejour m-t-30 m-b-30">
                            <div class="fas fa-circle text-palette-violet m-r-30"></div>
                            <div>
                                <div class="ft-size-16 text-muted-2">Arrêts de bus</div>
                                <div id="info-bus" class="ft-size-14 text-muted">Au moins un arrêt de bus est requis.
                                    Cliquez sur le bouton <b>Ajouter un arrêt de bus</b> pour en ajouter davantage.
                                    Cliquez sur la croix d'un arrêt de bus pour le supprimer.
                                </div>
                            </div>
                        </div>

                        <div class="arrets-bus">
                            <button id="btn-ajout-arret-bus" type="button" class="btn btn-primary rounded">
                                Ajouter un arrêt de bus
                            </button>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div id="card-bloc-atl">
                        <div class="control-label"> ATL : <input type="checkbox" id="myCheckatl" onclick="displayatl()">

                            <div id="bloc-atl" class="row" style="display: none;">

                                <div id="bloc-montant-atl">
                                     <div class="row">
                                        <label class="control-label text-muted-2" for="montant-atl">Montant de l'aide au temps libre par demi-journée</label>
                                        <input id="montant-atl" name="montantATL" class="required" type="text" maxlength="255" placeholder="Exemple : 1.50" required/>
                                    </div>
                                    <div class="row">
                                        <label class="control-label required text-muted-2" for="demi-journees-atl">Nombre de demi-journées nécessaires pour bénéficier de l'ATL</label>
                                        <input id="demi-journees-atl" type="number" name="demiJourneesATL" class="required" placeholder="Exemple : 4" min="1" max="100" step="1" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="bloc-pxf">
                        Paiement en plusieurs fois <input type="checkbox" id="myCheckPxF" onclick="displayPxF()">

                        <div id="bloc-PxF" style="display: none;">

                            <div id="bloc-paiement-plusieurs-fois" class="col-xs-12 col-lg-6 m-t-10">
                                <label class="control-label required text-muted-2" for="nb-echeances">Nombre d'échéances
                                    pour le paiement en plusieurs fois</label>
                                <input id="nb-echeances" name="nbEcheances" class="form-control" type="text"
                                       maxlength="255" placeholder="Exemple : 3" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="bloc-pmensuel">
                        Paiement mensuel <input type="checkbox" id="myCheckPmensuel" onclick="displayPmensuel()">
                    </div>
                </div>
                <button id="btn-slide-precedent-To1" type="button"
                        class="btn btn-precedent-2 btn-secondary btn-slide-precedent-Toslide1 rounded"> Précedent
                </button>
                <button id="btn-slide-suivant-To3" type="button" class="btn-test"> Suivant</button>


        </form>
    </div>
</div>