<div class="card rounded">
    <div class="card-body">
        <div id="titre-1" class="flex">
            <div class="row block-titre">
                <div class="numero-slide ">5</div>
                <div class="bloc-titre-slide">
                    <div class="titre-slide text-muted-2">Informations sur les jours concernés de l'accueil de
                        loisirs
                    </div>
                    <div class="ft-size-16 text-muted">Veuillez saisir les secteurs sur les jours concernés de l'accueil
                        de
                        loisirs.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form id="form-slide5">
          <div id="bloc-creneaux-entiers" style="display:none;">

                <div class="sous-titre-ajout-sejour m-t-10 m-b-30">
                    <div class="fas fa-circle text-palette-violet m-r-30"></div>
                    <div>
                        <div class="ft-size-16 text-muted-2">Créneaux sur toute la durée de l'accueil de loisirs</div>
                        <div class="ft-size-14 text-muted">Veuillez renseigner les secteurs des créneaux qui s'étendent
                            sur toute la durée de l'accueil de loisirs ainsi que les jours d'ouverture pour ces créneaux
                        </div>
                    </div>
                </div>

                <div class="checkbox-journees-entier row"></div>

                <div id="cards-creneaux-entiers" style="display: flex;">


                </div>

            </div>

            <div id="erreur-secteurs" class="error ft-size-16" style="display:none;">
                <b>Chaque créneau sélectionné doit posséder un secteur. Veuillez corriger les créneaux sans secteur ou
                    décocher les créneaux non voulus.</b>
            </div>

            <div id="card-secteur-entier-prototype"
                 data-prototype="{% filter escape %}{{ include('@Front/Sejour/Prototype/sejour.ajout.secteur-entier.prototype.html.twig') }}{% endfilter %}"></div>
            <div id="card-secteur-entier-prototype-edit"
                 data-prototype="{% filter escape %}{{ include('@Front/Sejour/Prototype/sejour.edit.secteur-entier.prototype.html.twig') }}{% endfilter %}"></div>


            <button id="btn-slide-precedent-To4" type="button"
                    class="btn btn-precedent btn-secondary btn-slide-precedent-Toslide4 rounded"> Précedent
            </button>

            <button id="btn-slide-suivant-To6" type="button"
                    class="btn btn-suivant btn-primary btn-slide-suivant-Toslide6"> Suivant
            </button>
        </form>
    </div>
</div>
