<div class="card rounded ">
    <div class="card-body">
        <div id="titre-1" class="flex">
            <div class="row block-titre">
                <div class="numero-slide ">1</div>
                <div class="bloc-titre-slide">
                    <div class="titre-slide text-muted-2">Informations générales de l'accueil de loisirs</div>
                    <div class="ft-size-16 text-muted">Veuillez saisir les informations générales de l'accueil de loisirs dans le formulaire ci-dessous</div>
                </div>
            </div>
        </div>
        <hr>
        <form>
            <div class="form-group">
                <label class="control-label  required text-muted-2" for="libelle-sejour">Libellé</label>
                <input id="libelle-sejour" name='libelle' class="form-control form-control-sm" type="text" maxlength="255" placeholder="Exemple : Accueil de loisirs de Noël"  required="required"/>
            </div>
            <div id="date-slide1" class="row">
                <div class="form-group">
                    <label class="control-label required text-muted-2">Dates d'ouverture et de fermeture de l'accueil de loisirs </label>
                    <div class="date-slide1 ">
                        <input id="date-ouverture-sejour" name="dateOuverture" class="form-control date-input dates-ouverture-sejour"  type=date  required="required"/>
                        <input id="date-fermeture-sejour" name="dateFermeture" class="form-control date-input dates-fermeture-sejour" type=date  required/>
                    </div>
                </div>

                <div id="date-slide1-2" class="form-group">
                    <label class="control-label required text-muted-2" for="libelle-sejour">Dates de début des inscriptions(ville et extérieur)</label>
                    <div class="date-slide1 ">
                        <input id="date-debut-inscriptions-ville" name="dateDebutInscriptionsVille" class="form-control date-input dates-inscriptions" type="date"  required/>
                        <input id="date-debut-inscriptions-exterieur" name="dateDebutInscriptionsExterieur" class="form-control date-input dates-inscriptions" type="date" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-left: 1.5%;">
                    <label class="control-label required text-muted-2" for="libelle-sejour">Date de fin des inscriptions(dernier jour inclus)</label>
                    <div class="card-box-row-flex">
                    <input id="date-fin-inscriptions" name="dateFinInscriptions" class="form-control date-input dates-inscriptions" type="date"  required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  text-muted-2" for="libelle-sejour"> Utilisation des Avoirs</label>
                <div class="card-box-row-flex">
                    <input id="myCheckAvoir" class="" type="checkbox" name="yes_noAvoir" >
                </div>
            </div>


            <div class="form-group">
                <label class="control-label  text-muted-2" for="libelle-sejour"> Séjour visible </label>
                <div class="card-box-row-flex">
                    <input id="myCheckVisible" class="" type="checkbox" name="yes_noVisible" >
                </div>
            </div>


            <div id="erreur-date" class="error"> La date d'ouverture du séjour doit être supérieur à la date de fermeture !</div>

            <button id="btn-slide-suivant-To2" type="button" class="btn btn-suivant btn-primary btn-slide-suivant-Toslide2"> Suivant </button>



        </form>


    </div>
</div>


