<div class="card rounded">
    <div class="card-body">
        <div id="titre-1" class="flex">
            <div class="row block-titre">
                <div class="numero-slide ">6</div>
                <div class="bloc-titre-slide">
                    <div class="titre-slide text-muted-2">Informations sur les tarifs de l'accueil de
                        loisirs
                    </div>
                    <div class="ft-size-16 text-muted">Veuillez saisir les tarifs sur les jours concernés de l'accueil
                        de
                        loisirs.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form id="form-slide6">
<div id="cards-jeux-tarifs" class="row"></div>

<div>
    <button class="btn-ajout-jeu-tarif btn btn-primary rounded" data-creneau="1" type="button">Ajouter une grille tarifaire </button>
</div>

<div id="jeu-tarif-prototype" data-prototype="{% filter escape %}{{ include('@Front/Sejour/Prototype/sejour.ajout.jeu-tarif.prototype.html.twig') }}{% endfilter %}"></div>

            <button id="btn-slide-precedent-To6" type="button"
                    class="btn btn-precedent btn-secondary btn-slide-precedent-Toslide5 rounded"> Précedent
            </button>

            <button id="btn-valider" type="button"
                    class="btn btn-suivant btn-success "> Valider
            </button>
        </form>
    </div>
</div>