<div class="card rounded">
    <div class="card-body">
        <div id="titre-1" class="flex">
            <div class="row block-titre">
                <div class="numero-slide ">4</div>
                <div class="bloc-titre-slide">
                    <div class="titre-slide text-muted-2">Informations sur les villes partenaires de l'accueil de
                        loisirs
                    </div>
                    <div class="ft-size-16 text-muted">Veuillez saisir les villes partenaires de l'accueil de
                        loisirs.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form id="form-slide4">
            <div>
                <div class="sous-titre-ajout-sejour m-t-10 m-b-30">
                    <div class="fas fa-circle text-palette-violet m-r-30"></div>
                    <div>
                        <div class="ft-size-16 text-muted-2" style="font-weight:bolder">Villes partenaires</div>
                        <div class="ft-size-14 text-muted">Veuillez renseigner les villes partenaires de cet accueil de
                            loisirs.<br> Attention, les enfants des villes partenaires bénéficient du tarif ville (interne).
                        </div>
                    </div>
                </div>

                <div id="cards-villes-partenaires" class="row">

                    <button id="btn-ajout-card-ville-partenaire" type="button" class="btn btn-primary rounded">Ajouter une ville partenaire</button>



                <div id="card-ville-partenaire-prototype"
                     data-prototype="{% filter escape %}{{ include('@Front/Sejour/Prototype/sejour.ajout.ville-partenaire.prototype.html.twig') }}{% endfilter %}"></div>

                </div>


                <div id="checkbox-type-visu">


                    <input type="radio" id="checkbox-day" name="checkbox" value="day" checked> Sur chacun des jours<br>

                </div>

                <button id="btn-slide-precedent-To3" type="button"
                        class="btn btn-precedent btn-secondary btn-slide-precedent-Toslide3 rounded"> Précedent
                </button>

                <button id="btn-slide-suivant-To5" type="button"
                        class=" btn-slide-suivant-Toslide5 btn btn-suivant btn-primary "> Suivant
                </button>
            </div>
        </form>
    </div>
</div>