@import url(https://fonts.googleapis.com/css?family=PT+Sans&display=swap);
body{
    background-color: #c8dafa !important;

    font-family: 'PT Sans', sans-serif !important;
}
.error{
    color:#ff7e6f;
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
    display: none;
    margin-bottom:10px;
}
.form-group{
    font-size:16px;
    font-weight: 500;
}
#libelle-sejour{
    width:30%;
}
.btn-suivant{
    margin-left : 90%;
}
.btn-suivant2{
    margin-left: 80%;
}
.btn-precedent{
    position:absolute;
}

#date-ouverture-sejour{
    width:50%;
    font-size: 14px;
}
#date-fermeture-sejour{
    width:50%;
    font-size: 14px;
}
#date-debut-inscriptions-exterieur{
    width:50%;
    font-size: 14px;
}
#date-debut-inscriptions-ville{
    width:50%;
    font-size: 14px;
}
#date-fin-inscriptions{
    width:60%;
    font-size: 14px;
}
.date-slide1{
    margin-left:1px !important;
}
.card{
    margin: 0 auto;
    margin-top:1%;
    box-shadow: 10px 10px 5px grey;
    position: inherit;
    width: 70%;
}
.card-body{
    margin-left:1%
}
.numero-slide{
    border-radius: 50%;
    font-size: 40px;
    font-family: Karla, sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 70px;
    height: 70px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.5;
}
.titre-slide{
    font-weight:bolder;
}
.bloc-titre-slide{
    margin-top:1%;
    margin-left:1%;
}
.control-label{
    font-weight: bold;
}
#bloc-montant-atl{
    margin-left:1.5%;
}
#bloc-demi-journees-atl{
    margin-left:1.5%;
}
.card-restriction{
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 38%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 230px;
}
.card-restriction-titre{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fbfbfb;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
    font-weight: bolder;
}
.btn-supprimer-restriction{
    position: absolute;
    right: 8px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    font-size: 18px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 8px;
}
.card-ville-partenaire{
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 38%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 230px;
}
.card-ville-partenaire-titre{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fbfbfb;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
    font-weight:bolder;
}
.btn-supprimer-ville-partenaire{
    position: absolute;
    right: 8px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    font-size: 18px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 8px;
}

#restriction-critere{
    margin-left:10%;
}
#nb-echeances{
    width:30%;
}
#montant-atl{
    width:30%;
}
#demi-journees-atl{
    width:30%;
}
#btn-ajout-card-restriction{
    margin-bottom: 10px;
    height: 10%;
    margin-left:1.5%;
}
#btn-ajout-card-ville-partenaire{
    margin-bottom: 10px;
    margin-top:1.5%;
    height: 10%;
    margin-left:1%;
}
.card-ville-partenaire{
    margin-left:1.75%;
    margin-top:2.5%;

}
.checkbox-journee-entier{
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 25%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}
#btn-ajout-secteur{
    margin-left:15%;
    margin-bottom: 10%;

}
.libelle-journee-entier{
    text-align:center;
}
.card-jeu-tarif{
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 38%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}
.card-jeu-tarif-titre-jeu{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fbfbfb;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
    font-weight:bolder;
}
#tarif-global-input{
    width:40%;
}
.btn-ajout-jeu-tarif {
    margin-bottom:10px;
    margin-top:10px;
}
#btn-delete-jeu-tarif{
    position:absolute;
}
.erreur-sur-bus{
    color: #ff4e42;
    margin-bottom:10px;
}
.no-checkable{
    opacity: 0.33;
}
.required:after{
    content:"*";
    color:orange;

}
#date-slide1{
    margin-left:0.25%;
}
#date-slide1-2{
    margin-left: 10%;
}