<div class="btn-ajout-jeu-tarif text-muted-2" data-creneau="INDEX_CRENEAU" data-libelle="LIBELLE">
    <div class="far fa-plus m-b-10 icone-ajout-jeu-tarif text-palette-vert"></div>
    <div>Ajouter une grille tarifaire pour le créneau <b>LIBELLE</b></div>
</div>
