<div class="m-t-10 m-b-5 ft-size-12">
    <span class="fas fa-circle m-r-5 text-palette-rose ft-size-8"></span>
    Semaine du DEBUT_SEMAINE au FIN_SEMAINE
</div>
<input name="creneaux[INDEX_CRENEAU][datesFinInscriptions][INDEX_SEMAINE]" class="form-control required white-readonly" placeholder="Cliquez pour afficher le calendrier" readonly>
