<div class="card-ville-partenaire">

    <div class="card-ville-partenaire-titre text-muted-2">
        Ville partenaire
        <div class="btn-supprimer-ville-partenaire" title="Cliquez ici pour supprimer cette ville partenaire"  style="color:red;font-weight: bolder;"> Supprimer<span class="far fa-times"></span></div>
    </div>

    <div class="p-l-20 p-r-20 p-t-20 p-b-20">

        <div>
            <label class="control-label required">Code postal</label>
            <input name="villes[INDEX][codePostal]" type="text" class="form-control required ville-partenaire-code-postal" placeholder="Exemple : 62620" required>
        </div>

        <div class="m-t-10">
            <label class="control-label required">
                Ville
            </label>
            <input name="villes[INDEX][libelle]" class="form-control required m-t-5 ville-partenaire-libelle" required="required">
        </div>

    </div>

</div>
