<div class="semaine-creneaux" data-semaine="INDEX_SEMAINE" data-date-debut="DEBUT_DMY" data-date-fin="FIN_DMY">

    <div class="titre-semaine-creneaux text-muted-2 ft-size-16 m-b-15">
        Semaine du <b>DATE_DEBUT</b> au <b>DATE_FIN</b>
    </div>

    <div class="checkbox-journees-semaine"></div>
    <div class="cards-creneaux-semaine"></div>

</div>
