<div class="journee-creneaux" data-journee="INDEX_JOURNEE" data-date="DATE_DMY">

    <div class="titre-journee-creneaux text-muted-2 ft-size-16 m-b-15">
        DATE_JOURNEE
    </div>

    <div class="cards-creneaux-journee"></div>

</div>
