<div class="checkbox-journee-jeu-tarif" data-creneau="INDEX_CRENEAU" data-journee="INDEX_JOURNEE" data-date="DATE_DMY">
    <div class="check-journee-jeu-tarif">
        <span class="fas fa-check"></span>
    </div>
    <div class="libelle-journee-jeu-tarif">DATE_FORMATEE</div>
    <input name="jeuxtarifs[journee][INDEX_CRENEAU][INDEX_JEU_TARIF][jour][INDEX_JOURNEE]" type="hidden">
</div>
